

    {
        background: #9ec8d8;
        text-align:center;
        color: rgb(224, 18, 11);
        padding: 15px;
        width: 50% - 50px;
        height: 100px;
        overflow: scroll;
        border: 1px solid #ccc;
      }


      

